
.chat {
  width: 100%;
  display: flex;
  flex-flow: column;
}


.chat-messages {
  flex:1;
  overflow-y: scroll;
  font-family: $font-open;

  &__item_other {
    width: 50%;
    display: flex;
    margin: 2rem auto 2rem 1rem;

    .text-wrapper {
      margin-right: auto;
      padding: 1rem .85rem;
      box-shadow: 2px -2px #0000000d;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: .5rem;
        height: 2rem;
        top:0;
        left:-.5rem;
        filter: drop-shadow(2px -2px #0000000d);
      }

    }
  }

  &__item_self {
    width: 50%;
    margin: 2rem 1rem 2rem auto;
    display: flex;

    .text-wrapper {
      margin-left: auto;
      padding: 1rem .85rem;
      box-shadow: 2px -2px #0000000d;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: .5rem;
        height: 2rem;
        top:0;
        right:-.5rem;
        background: linear-gradient(125deg, $dark-min 25%, transparent 25% ) ;
        filter: drop-shadow(2px -2px #0000000d);
      }

    }

  }

  .msg-meta {
    padding-top: .5rem;
    display: flex;
    justify-content: flex-end;
    font-family: $font-open;


    &-status {
      margin: .25rem ;
      color: $succes;
      font-size: .8rem;
      display: flex;
      align-items: center;

      & i:last-child{
        margin-left: -.35rem;
      }

    }
    &-time {
      margin: .25rem ;
      font-size: 1rem;
      display: flex;
      align-items: center;
    }

  }

}