
.bg_dark-max {
  background-color: $dark-max;
}

.bg_dark-min {
  background-color: $dark-min;
}

.bg_light-max {
  background-color: $light-max;
}

.bg_light-min {
  background-color: $light-min;
}

.bg_dark-gradient {
  background: linear-gradient(90deg, $dark-min 99%, $dark-max );
}
.bg_dark-gradient2 {
  background: linear-gradient(90deg, $dark-max, $dark-min 1%,  $dark-min 99%, $dark-max );
}

.border_light-max {
  border-color: $light-max;
}

.border_light-min {
  border-color: $light-min;
}

.border_dark-max {
  border-color: $dark-max;
}

.border_dark-min {
  border-color: $dark-min;
}

.text-light-max {
  color: $light-max;
}

.text-light-max::placeholder{
  color: $light-max;
}

.text-light-min {
  color: $light-min;
}

.text-light-min::placeholder {
  color: $light-min;
}

.separator-dark  {
  position: relative;

  &:after {
    background: #87939a;
    position: absolute;
    content: '';
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 1px;
    opacity: .3;
  }

}

.separator-dark-top  {
  position: relative;

  &:before {
    background: #87939a;
    position: absolute;
    content: '';
    width: 100%;
    left: 0px;
    top: 0px;
    height: 1px;
    opacity: .3;
  }

}

.user-list-search__input:focus {
  background-color: $dark-min;
}

.chat-messages__item_other .text-wrapper:before {
  background: linear-gradient(225deg, $dark-min 25%, transparent 25% ) ;
}

.text-light {
  color: #fff;
}