@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  height: 100%; }

body {
  height: 100%; }

.container {
  display: flex;
  align-items: stretch;
  height: 100%; }

.mobile-wrapper {
  position: absolute;
  z-index: 24;
  background: #000000;
  opacity: .8;
  transition: all 0.8s; }

.active {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.z-25 {
  position: relative;
  z-index: 25; }

.user-list {
  width: 20%;
  min-width: 300px;
  max-width: 450px;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 1px 4px 2px #00000026; }
  .user-list-search {
    padding: .8rem 0;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    height: 4rem; }
    .user-list-search__group {
      position: relative;
      width: 100%; }
      .user-list-search__group i {
        position: absolute;
        left: 5px;
        top: .9rem;
        transform: translateY(-50%); }
    .user-list-search__input {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid;
      font-size: 1.25rem;
      padding-left: 1.5rem;
      outline: none; }
      .user-list-search__input:focus {
        padding-left: .5rem; }
      .user-list-search__input:focus + i {
        display: none; }
  .user-list__item {
    display: flex;
    height: 100px;
    padding: 1rem;
    box-shadow: 0px 1px #0000004f; }
    .user-list__item-avatar {
      width: 25%;
      background-size: cover;
      background-position: 50% 50%;
      position: relative;
      border-width: 1px;
      border-style: solid; }
      .user-list__item-avatar-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .user-list__item-info {
      width: 65%;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-flow: column;
      box-sizing: border-box; }
      .user-list__item-info-name {
        margin: 0;
        font-weight: 700;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .user-list__item-info-name-link {
          text-decoration: none;
          font-family: "Open Sans", sans-serif; }
      .user-list__item-info-last-msg {
        margin: 0;
        height: calc(100% - 40%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%; }
        .user-list__item-info-last-msg-link {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          font-family: "Open Sans", sans-serif; }
        .user-list__item-info-last-msg-author {
          font-weight: 700;
          padding-right: 5px;
          font-family: "Open Sans", sans-serif; }
    .user-list__item-actions {
      width: 10%;
      display: flex;
      flex-flow: column; }
      .user-list__item-actions-time {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .68rem;
        font-family: "Open Sans", sans-serif; }
      .user-list__item-actions-newmsg {
        height: calc(100% - 40%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem; }
        .user-list__item-actions-newmsg .new-msg-background {
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          background: linear-gradient(45deg, #4a88c7, #254f7b);
          filter: drop-shadow(1px -1px 1px #0000002b); }
          .user-list__item-actions-newmsg .new-msg-background:empty {
            display: none; }
  .user-list .mobile-close {
    display: none;
    height: 50px;
    justify-content: center;
    align-items: center; }
    .user-list .mobile-close__txt {
      z-index: -1; }
    @media (max-width: 991.98px) {
      .user-list .mobile-close {
        display: flex; } }
  .user-list .current-user {
    background-color: #2b2b2b; }
  .user-list > * {
    box-sizing: border-box; }

@media (max-width: 991.98px) {
  .user-list:not(.show-in-mob) {
    position: absolute;
    z-index: 25;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    transition: all 0.8s; }
    .user-list:not(.show-in-mob).open {
      left: 0; } }

@media (max-width: 575.98px) {
  .show-in-mob {
    width: 100%;
    max-width: 100%; } }

.chat-top {
  padding: 1rem;
  padding-top: 0; }
  .chat-top__items {
    display: flex;
    height: 4rem;
    width: 100%;
    position: relative; }
    .chat-top__items-mobile-list {
      width: 50px;
      display: none; }
      @media (max-width: 991.98px) {
        .chat-top__items-mobile-list {
          display: flex;
          align-items: center; } }
    .chat-top__items-details {
      flex: 1;
      display: flex;
      justify-content: flex-start; }
      @media (max-width: 991.98px) {
        .chat-top__items-details {
          justify-content: center; } }
      .chat-top__items-details_group {
        display: flex;
        align-items: center;
        height: 100%; }
        .chat-top__items-details_group-ava {
          height: 2.5rem;
          width: 2.5rem;
          background-size: cover;
          background-position: 50% 50%;
          border-width: 1px;
          border-style: solid;
          position: relative; }
          @media (max-width: 991.98px) {
            .chat-top__items-details_group-ava {
              height: 2.5rem;
              width: 2.5rem; } }
          .chat-top__items-details_group-ava-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
        .chat-top__items-details_group-name {
          display: flex;
          flex-direction: column;
          padding-left: 1rem;
          padding-right: 1rem; }
          .chat-top__items-details_group-name_link {
            text-decoration: none;
            font-size: 1.2rem; }
          .chat-top__items-details_group-name-visit {
            padding-top: .3rem;
            font-style: italic;
            font-size: .68rem; }
    .chat-top__items-menu-starter {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
    .chat-top__items-menu {
      position: absolute;
      top: 5.15rem;
      right: 0;
      width: 240px;
      box-sizing: border-box;
      box-shadow: 0px 1px 4px 2px #00000026;
      display: none; }
      .chat-top__items-menu_list {
        list-style: none;
        margin: 0;
        padding: 0; }
        .chat-top__items-menu_list-item {
          position: relative;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          height: 50px; }
          .chat-top__items-menu_list-item a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1rem;
            text-decoration: none; }
          .chat-top__items-menu_list-item i {
            margin-right: 15px; }
        .chat-top__items-menu_list-item:hover {
          background-color: #2b2b2b; }
      .chat-top__items-menu.open {
        display: block;
        z-index: 25;
        right: 0;
        left: unset; }

.chat {
  width: 100%;
  display: flex;
  flex-flow: column; }

.chat-messages {
  flex: 1;
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif; }
  .chat-messages__item_other {
    width: 50%;
    display: flex;
    margin: 2rem auto 2rem 1rem; }
    .chat-messages__item_other .text-wrapper {
      margin-right: auto;
      padding: 1rem .85rem;
      box-shadow: 2px -2px #0000000d;
      position: relative; }
      .chat-messages__item_other .text-wrapper:before {
        content: '';
        position: absolute;
        width: .5rem;
        height: 2rem;
        top: 0;
        left: -.5rem;
        filter: drop-shadow(2px -2px #0000000d); }
  .chat-messages__item_self {
    width: 50%;
    margin: 2rem 1rem 2rem auto;
    display: flex; }
    .chat-messages__item_self .text-wrapper {
      margin-left: auto;
      padding: 1rem .85rem;
      box-shadow: 2px -2px #0000000d;
      position: relative; }
      .chat-messages__item_self .text-wrapper:before {
        content: '';
        position: absolute;
        width: .5rem;
        height: 2rem;
        top: 0;
        right: -.5rem;
        background: linear-gradient(125deg, #3c3f41 25%, transparent 25%);
        filter: drop-shadow(2px -2px #0000000d); }
  .chat-messages .msg-meta {
    padding-top: .5rem;
    display: flex;
    justify-content: flex-end;
    font-family: "Open Sans", sans-serif; }
    .chat-messages .msg-meta-status {
      margin: .25rem;
      color: #579242;
      font-size: .8rem;
      display: flex;
      align-items: center; }
      .chat-messages .msg-meta-status i:last-child {
        margin-left: -.35rem; }
    .chat-messages .msg-meta-time {
      margin: .25rem;
      font-size: 1rem;
      display: flex;
      align-items: center; }

.chat-bottom {
  padding: 1rem;
  padding-bottom: 0; }
  .chat-bottom__items {
    display: flex;
    align-items: center;
    min-height: 4rem;
    width: 100%;
    position: relative; }
    .chat-bottom__items-add {
      display: flex;
      justify-content: space-around;
      height: 100%;
      min-width: 50px;
      margin-bottom: 1.75rem;
      margin-top: auto; }
      .chat-bottom__items-add-attach {
        cursor: pointer; }
      .chat-bottom__items-add-emodji {
        cursor: pointer; }
    .chat-bottom__items-msg {
      flex: 1;
      padding-left: 1rem;
      padding-right: 1rem; }
      .chat-bottom__items-msg-group {
        width: 100%;
        display: flex;
        position: relative; }
      .chat-bottom__items-msg-input {
        width: 100%;
        border-width: 1px;
        border-style: solid;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        padding: .58rem;
        outline: none;
        max-height: 245px;
        overflow-y: scroll;
        position: relative;
        z-index: 5;
        transition: all 0.4s; }
        @media (max-width: 991.98px) {
          .chat-bottom__items-msg-input {
            border-left: 0;
            border-top: 0;
            border-right: 0; } }
      .chat-bottom__items-msg-input:focus {
        width: calc(100% - 50px); }
        @media (max-width: 991.98px) {
          .chat-bottom__items-msg-input:focus {
            width: calc(100% - 20px); } }
      .chat-bottom__items-msg-send {
        margin-bottom: 1.7rem;
        margin-top: auto;
        width: 50px;
        display: flex;
        justify-content: center;
        font-size: 1.45rem;
        text-decoration: none;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.4s 0.4s; }
      .chat-bottom__items-msg-input:focus + .chat-bottom__items-msg-send {
        opacity: 1; }
        @media (max-width: 991.98px) {
          .chat-bottom__items-msg-input:focus + .chat-bottom__items-msg-send {
            right: -30px; } }
    .chat-bottom__items-menu {
      position: absolute;
      top: -10.6rem;
      left: 0;
      width: 180px;
      box-sizing: border-box;
      box-shadow: 0px 1px 4px 2px #00000026;
      display: none; }
      .chat-bottom__items-menu_list {
        list-style: none;
        margin: 0;
        padding: 0; }
        .chat-bottom__items-menu_list-item {
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          overflow: hidden;
          text-overflow: ellipsis; }
          .chat-bottom__items-menu_list-item i {
            margin-right: 15px; }
        .chat-bottom__items-menu_list-item:hover {
          background-color: #2b2b2b; }
      .chat-bottom__items-menu.open {
        display: block;
        z-index: 25; }

a[data-chat_include="add"] {
  font-size: .8rem;
  position: relative;
  z-index: 5; }
  a[data-chat_include="add"] i {
    position: relative;
    z-index: -1; }

a[data-chat_include="remove"] {
  font-size: .8rem;
  position: relative;
  z-index: 5; }
  a[data-chat_include="remove"] i {
    position: relative;
    z-index: -1; }

.bg_dark-max {
  background-color: #2b2b2b; }

.bg_dark-min {
  background-color: #3c3f41; }

.bg_light-max {
  background-color: #bbbbbb; }

.bg_light-min {
  background-color: #87939a; }

.bg_dark-gradient {
  background: linear-gradient(90deg, #3c3f41 99%, #2b2b2b); }

.bg_dark-gradient2 {
  background: linear-gradient(90deg, #2b2b2b, #3c3f41 1%, #3c3f41 99%, #2b2b2b); }

.border_light-max {
  border-color: #bbbbbb; }

.border_light-min {
  border-color: #87939a; }

.border_dark-max {
  border-color: #2b2b2b; }

.border_dark-min {
  border-color: #3c3f41; }

.text-light-max {
  color: #bbbbbb; }

.text-light-max::placeholder {
  color: #bbbbbb; }

.text-light-min {
  color: #87939a; }

.text-light-min::placeholder {
  color: #87939a; }

.separator-dark {
  position: relative; }
  .separator-dark:after {
    background: #87939a;
    position: absolute;
    content: '';
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 1px;
    opacity: .3; }

.separator-dark-top {
  position: relative; }
  .separator-dark-top:before {
    background: #87939a;
    position: absolute;
    content: '';
    width: 100%;
    left: 0px;
    top: 0px;
    height: 1px;
    opacity: .3; }

.user-list-search__input:focus {
  background-color: #3c3f41; }

.chat-messages__item_other .text-wrapper:before {
  background: linear-gradient(225deg, #3c3f41 25%, transparent 25%); }

.text-light {
  color: #fff; }
