
.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;

  @include sm {
    & > div {
      width: 100%;
    }
  }


}

.form-registration {
  box-sizing: border-box;
  //height: 480px;
  width: 380px;
  margin: auto;
  padding: 2rem;
  transform: translateY(20%);
  box-shadow: 1px 0px 8px 2px #0000002e;

  @include sm {
    width: 100%;
    height: 100vh;
    transform: translateY(0);
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
  }

  &__input-group {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2.5rem 0;

    &-item {
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 1px;
      border-style: solid;
      outline: none;
      font-size: 1rem;
      z-index: 10;
      position: relative;
      width: 100%;

      &-btn {
        border-width: 1px;
        border-style: solid;
        padding: .5rem;
        width: 100%;
        cursor: pointer;
      }

      &:placeholder-shown + .form-registration__input-group-item_label {
        top:1rem;
        opacity: 0;
      }

      &:invalid,
      &.no-valid{
       border-bottom-color: $danger!important;
      }


    }

    &-item_label {
      font-size: 1rem;
      position: absolute;
      left:0;
      top:-1.25rem;
      transition: all $transition-timing+s;

      &.no-valid {
        top:-1.25rem!important;
        opacity: 1!important;
        color: #c17582;
      }

    }


    &-enter {
      margin: 1rem 0;
      text-decoration: none;
      font-size: .8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
    

  }


}


#authorization-page {
  .form-registration {
    box-sizing: border-box;
    width: 550px;
    margin: auto;
    padding: 2rem;
    transform: translateY(50%);
    box-shadow: 1px 0px 8px 2px #0000002e;
  }
  @media (max-width: 575.98px) {
    .form-registration {
      width: 100%;
      height: 100vh;
      transform: translateY(0); }
  }
  .form-authorization__title {
    text-align: center;
    font-size: 1.5rem;
  }
  .form-registration__input-group {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2.5rem 0; }
  .form-registration__input-group-item {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    outline: none;
    font-size: 1rem;
    z-index: 10;
    position: relative;
    width: 100%; }
  .form-registration__input-group-item-btn {
    border-width: 1px;
    border-style: solid;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
    outline: none; }
  .form-registration__input-group-item:placeholder-shown + .form-registration__input-group-item_label {
    top: 1rem;
    opacity: 0; }
  .form-registration__input-group-item:invalid {
    border-bottom-color: #c17582 !important; }
  .form-registration__input-group-item_label {
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: -1.25rem;
    transition: all 0.8s; }
  .form-registration__input-group-enter {
    margin: 1rem 0;
    text-decoration: none;
    font-size: .8rem; }
  .form-registration__input-group:last-child {
    margin-bottom: 0; }
}

#user-settings-page {
   width: 100%;

  .form-registration {
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    transform: translateY(5%);
    box-shadow: 1px 0px 8px 2px #0000002e; }
  @media (max-width: 767.98px) {
    .form-registration {
      width: 100%;
      height: auto;
      transform: translateY(0); } }
  .form-registration__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .form-registration__input-group {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2.5rem 0; }
  .form-registration__input-group-item {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    outline: none;
    font-size: 1rem;
    z-index: 10;
    position: relative;
    width: 100%; }
  .form-registration__input-group-item-btn {
    border-width: 1px;
    border-style: solid;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
    outline: none; }
  .form-registration__input-group-item:placeholder-shown + .form-registration__input-group-item_label {
    top: 1rem;
    opacity: 0; }
  .form-registration__input-group-item:invalid {
    border-bottom-color: #c17582 !important; }
  .form-registration__input-group-item_label {
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: -1.25rem;
    transition: all 0.8s; }
  .form-registration__input-group-enter {
    margin: 1rem 0;
    text-decoration: none;
    font-size: .8rem; }
  .form-registration__input-group:last-child {
    margin-bottom: 0; }
  .form-registration__ava-group {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    float: left;
  }
  @media (max-width: 575.98px) {
    .form-registration__ava-group {
      justify-content: center; } }
  .form-registration__ava-group-fields {
    flex: 1;
    padding-left: 2rem;
    min-width: 320px; }
  @media (max-width: 575.98px) {
    .form-registration__ava-group-fields {
      padding-left: 0; } }
  .form-registration .upload-img-group {
    position: relative; }
  .form-registration .upload-img-group__img {
    position: relative;
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    background-size: cover;
    background-position: 50% 50%; }
  .form-registration .upload-img-group__uploader {
    display: none; }



}
