
//color set
$dark-max: #2b2b2b;
$dark-min: #3c3f41;

$light-max: #bbbbbb;
$light-min: #87939a;

$blue: #4a88c7;

$danger: #c17582;
$succes: #579242;


//font set
$font-open: 'Open Sans', sans-serif;
$font-alegreya: 'Alegreya Sans', sans-serif;


//transition
$transition-timing: .8;


