
.user-list {
  width: 20%;
  min-width: 300px;
  max-width: 450px;
  //padding: 1rem;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: $font-open;
  box-shadow: 0px 1px 4px 2px #00000026;

  &-search {

    padding: .8rem 0;
    display: flex;
    align-items: flex-end;

    padding: 1rem;
    height: 4rem;

    &__group {
      position: relative;
      width: 100%;

      i {
        position: absolute;
        left:5px;
        top: .9rem;
        transform: translateY(-50%);
      }
    }

    &__input {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid;
      font-size: 1.25rem;
      padding-left: 1.5rem;
      outline: none;

      &:focus {
        padding-left: .5rem;
      }

      &:focus + i {
        display: none;
      }

    }

  }

  &__item {
    display: flex;
    //padding: .8rem 0;
    height: 100px;
    padding: 1rem;
    box-shadow: 0px 1px #0000004f;

    &-avatar {
      width: 25%;
      background-size: cover;
      background-position: 50% 50%;
      position: relative;

      border-width: 1px;
      border-style: solid;

      &-link {
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
      }
    }


    &-info {
      width: 65%;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-flow: column;
      box-sizing: border-box;

      &-name {
        margin: 0;
        font-weight: 700;
        height: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        &-link {
          text-decoration: none;
          font-family: $font-open;
        }

      }

      &-last-msg {
        margin: 0;
        height: calc(100% - 40%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        &-link {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          font-family: $font-open;
        }
        &-author {
          font-weight: 700;
          padding-right: 5px;
          font-family: $font-open;
        }
      }

    }

    &-actions {
      width: 10%;
      display: flex;
      flex-flow: column;

      &-time {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .68rem;
        font-family: $font-open;
      }

      &-newmsg {
        height: calc(100% - 40%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;

        .new-msg-background {
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 100%;
          text-decoration: none;
          font-family: $font-open;
          //background-color: $blue;
          background: linear-gradient(45deg, #4a88c7, #254f7b);
          filter: drop-shadow(1px -1px 1px #0000002b);

          &:empty {
            display: none;
          }
        }

      }


    }

  }

  .mobile-close {
    display: none;
    height: 50px;
    justify-content: center;
    align-items: center;

    @include lg {
      display: flex;
    }
  }

  .current-user {
    background-color: $dark-max;
  }

  & > * {
    box-sizing: border-box;
  }

}



@include lg {
  .user-list:not(.show-in-mob) {
    position: absolute;
    z-index: 25;
    top:0;
    left:-100%;
    width: 300px;
    height: 100%;
    transition: all $transition-timing+s;
  }

  &.open {
    left:0;
  }

}

@include sm {
  .show-in-mob{
    width: 100%;
    max-width: 100%;
  }

}