

.chat {
  width: 100%;
  display: flex;
  flex-flow: column;

  @include sm {
    display: none;
  }


  .chat-alert {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__select {
      text-align: center;
      font-family: $font-open;
      font-size: 2rem;
    }
  }

}


